@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  /* กำหนดฟอนต์ Poppins เป็นค่าเริ่มต้น */
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

  /* Base Colors */
  --color-brown-600: #26231E;
  --color-brown-500: #43403B;
  --color-brown-400: #75716B;
  --color-brown-300: #DAD6D1;
  --color-brown-200: #EFEEEB;
  --color-brown-100: #F9F8F6;

  /* Brand Colors */
  --color-brand-orange: #F2B68C;
  --color-brand-green: #12B279;
  --color-brand-green-light: #D7F2E9;
  --color-brand-red: #EB5164;
}

/* คุณสามารถกำหนดสไตล์พื้นฐานให้ tag HTML ได้ที่นี่ */
@layer base {
  body {
    @apply font-sans text-brown-600;
  }
}